.ilki {
  width: 500px;
  height: 500px;
  background-color: blue;
}

#rgba {
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

#opacity {
  width: 50%;
  height: 50%;
  background-color: yellow;
  opacity: 0.3;
}
.divs {
  width: 250px;
  height: 250px;
  border: 2px solid green;
  margin: 10px;
  display: inline-block;
}

#first {
  background-color: aqua;
}
#second {
  background-color: black;
}

#third {
  background-color: black;
}
